[2017-03-20 14:05] petrsvihlik opened #3 "Demonstrate the multiple choice element"
Demonstrate the multiple choice element.

Sample Project ID: 975bf280-fd91-488c-994c-2f04416e5ee3
Content Type: Coffee
Element Name: Processing

Internal reference: DEL-680

[2017-03-20 14:16] petrsvihlik opened #4 "Demonstrate the URL slug"
Once we add relevant sample content to the sample project we'd like to update this sample app to reflect the changes and demonstrate the URL slug functionality.

Internal reference: DEL-665

[2017-03-21 16:29] petrsvihlik opened #5 "Support runnable templates"
Similarly to https://github.com/Kentico/cloud-boilerplate-net/issues/1, we'd like to support the new VS tooling and be able to install the site using the `dotnet new` command.

Ideally, the template should be parameterized with the project guid.

All necessary resources can be found in the related task.

[2017-03-28 18:24] KenticoMarianV opened #6 "Problem with preview API (CORS, method OPTIONS)"
Hi!
I have downloaded project and done everything according to instructions. It works fine when previewApiKey is not provided. When I have set api key I have ended with errors:

![2017-03-28 20_12_37-program manager](https://cloud.githubusercontent.com/assets/24543224/24420387/08efa522-13f3-11e7-9268-0e6b07d7ae8f.png)
![2017-03-28 20_12_59-developer tools - http___localhost_3001_](https://cloud.gi

[2017-04-03 17:30] alesk-kentico commented on #6
Hi Marián, there was a problem with CORS configuration that has been fixed. Thank you for your feedback!

[2017-04-03 17:30] #6 closed

[2017-07-03 13:54] petrsvihlik opened #7 "Migrate to the TypeScript SDK"
https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK
https://github.com/Enngage/KenticoCloudModelGeneratorUtility

[2017-07-03 15:22] petrsvihlik commented on #4
https://github.com/Kentico/cloud-sample-app-js/commit/7f713696b4ef5d016b0cd244406527ac09e9b899

[2017-07-03 15:22] #4 closed

[2017-07-24 08:47] Simply007 commented on #7
New branch created:
https://github.com/Kentico/cloud-sample-app-js/tree/migrate_to_typescript_sdk

[2017-07-24 08:49] Simply007 commented on #7
63010d01fcd5617a9c3fc1b3254a4dcd5e877757
* models created
* delivery client encapsulation created

TODO:
Use client in the sores and rewrite components to use new models

[2017-07-24 14:35] ChristopherJennings commented on #7
@Simply007, I noticed you're doing the same thing with the models as I did when I was trying out the TS SDK. For example, in order to make the names translate from `body_copy` to `bodyCopy`. I ended up writing a helper method to blanket map these items instead of having to map them individually. See https://gist.github.com/ChristopherJennings/3086c7225f6b391ecca9feb6bf3affc4 for my implementation.

[2017-07-24 15:11] petrsvihlik commented on #7
This could be mentioned somewhere in the readme of the TS SDK.

[2017-07-24 15:21] ChristopherJennings commented on #7
It kind of is: https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#property-binding-in-models

That example notes that the names are all lower case, which is true, but the example also assumes that the code name doesn't include spaces, which typically are there and could be converted using this method.

[2017-07-24 15:23] ChristopherJennings commented on #7
This has been added as an issue on the SDK repo: https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/issues/6

[2017-07-24 20:07] ChristopherJennings commented on #7
@Enngage, you're probably right. I guess we'll just have to see was @Simply007 has to say.

[2017-07-25 06:39] Simply007 commented on #7
Yeap I have used generator and then converted typescript models to javascript syntax.
Since we agreed to use typescript, I will regenerate models without any modification and it will be sufficient.
It would be great thet mapping would be done automatically and used @ChristopherJennings modifier, but for now I will use generated code.

Thanks for tips :-)

[2017-07-25 15:19] Enngage commented on #7
@Simply007 , the code generator should already do, what Chris mentioned automatically. What you might however do manually is to use proper models instead of 'IContentItem' for modular item properties as Cloud does not provide this link.

[2017-08-25 08:04] Simply007 opened #8 "Inline content modules are not loaded properly"
Application does not count with the inline content module within the rich text element.

Example on coffee-beverages-explained article:
![image](https://user-images.githubusercontent.com/9218736/29705016-8310ee02-897c-11e7-9fb8-7dc7987e4248.png)

This change was made @jancerman (Andrew Dixon) on Jun 27, 2017 · 3:12 pm according to revision history.

[2017-09-01 10:29] Simply007 commented on #7
New pull request cretated:
* https://github.com/Kentico/cloud-sample-app-js/pull/9

[2017-09-01 10:47] Simply007 opened #10 "Url slug is not set in models"
Loading content using typescript SDK raise a warning that URL slug is not implemented:
* You have to implement 'urlSlugResolver' in your Model class or your query in order to get url of this item
field-types.js:196

i.e. Home page raise this warning 9 times.

Consequences on the content, that uses some links in rich text does not resolve them properly.
Example:
Link in article detail (http://local

[2017-09-14 14:27] AaronCKentico opened #12 "Restore Preview API functionality"
As part of the update to the TypeScript SDK, the Preview API was taken out of the default behavior. It should be restored so that the instructions in README.md enable users to easily enable previews from the sample app.

[2017-09-15 07:14] Simply007 commented on #12
Created branch with the client fix
* https://github.com/Kentico/cloud-sample-app-js/tree/preview_functionality

[2017-09-15 07:23] Simply007 commented on #12
Pull request:
https://github.com/Kentico/cloud-sample-app-js/pull/13

[2017-09-16 22:22] petrsvihlik commented on #12
thanks @Simply007 !

[2017-09-16 22:22] #12 closed

[2017-09-22 11:31] #7 closed

[2017-09-22 11:32] petrsvihlik commented on #5
doesn't really make sense...it's not a boilerplate

[2017-09-22 11:32] #5 closed

[2017-10-02 09:55] Enngage commented on #10
I'll try looking at this

[2017-10-06 14:33] Simply007 commented on #8
Pull requests:
https://github.com/Kentico/cloud-sample-app-js/pull/15

[2017-10-13 14:41] #10 closed

[2017-10-16 14:07] petrsvihlik opened #18 "Add multilingual support"
Similarly to https://github.com/Kentico/cloud-sample-app-net/pull/19, add a Spanish translation of the site.

- [x] Add a language switch
- [x] Add appropriate routing mechanism using router-react, or router-react-redux (or a similar standardized technology)
- [x] Add a globalization (resource) strings support (again, choose a common approach)
- [x] Translate globalization strings
- [x] Translate

[2017-10-22 15:49] beemtz commented on #18
Hi! I'd love to help with this :) Spanish is my first language and I translated if-me.org... msg me!

[2017-10-22 17:49] petrsvihlik commented on #8
resolved! thx @Simply007

[2017-10-22 17:49] #8 closed

[2017-10-22 19:06] petrsvihlik commented on #3
Coffee processing has been replaced by taxonomy.

Multiple choice element is demonstrated on Hosted video -> video provider. E.g. https://github.com/Kentico/cloud-sample-app-react/blob/85fdcdb2f0f89be89a3ca09f2700b2b47d6b4724/src/Models/HostedVideo.js#L9

[2017-10-22 19:06] #3 closed

[2017-10-22 19:47] petrsvihlik commented on #18
Hi @beemtz,
Thanks for your interest!

Not too long ago, we added [localization support](https://kenticocloud.com/blog/working-with-localization-in-kentico-cloud) to our headless CMS - Kentico Cloud.

We demonstrated the functionality in the [sample app for .NET](https://github.com/Kentico/cloud-sample-app-net) and we'd like to do the same for this sample react app.

So the idea here is to add a l

[2017-10-22 20:04] beemtz commented on #18
Hello!

I’m mostly interested in the translation part per se. I’m still too scared of messing with repos on my own. :S

B*

[2017-10-24 08:20] petrsvihlik opened #20 "Translate Dancing Goat to Spanish"
https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/items.json contains a dump of existing untranslated content items.

We need to translate the "name", "description" and "value" fields to Spanish.

[2017-10-24 08:24] petrsvihlik commented on #20
@JanLenoch will add data to the dump file and give you more information about how to translate them.

[2017-10-24 08:26] petrsvihlik commented on #18
hey @beemtz , sorry for the delay. i needed to discuss the approach with my colleagues. i've created a separate issue for the translations themselves. feel free to accept the invitation to this project and assign the issue (#20) to yourself.

[2017-10-24 10:39] JanLenoch commented on #20
The [items.json](https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/items.json) contains just the list of IDs. You can pretty much ignore it. But, alongside that, I've exported the texts into [other .json files](https://github.com/Kentico/cloud-sample-app-react/blob/master/localization) named by items' IDs.

Some of them already contain a Spanish variant. These have [two se

[2017-10-24 18:47] surfinzap commented on #20
Hi guys, how "translated" you want it? Machine translation for demo purposes will do?

[2017-10-24 19:44] beemtz commented on #20
Hi! So, yeah, I think got it backwards and just translated the item.json file but now I see that's not what I was supposed to do.

I'm supposed to go [here](https://github.com/Kentico/cloud-sample-app-react/tree/master/localization) and check each file there to make it look like [this](https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/028f0e05-9f17-45be-962d-62bebe6b6f53.j

[2017-10-24 19:47] beemtz commented on #20
Question: Do you want a more formal language or informal? (Basically, referring to people as Usted or Tú?)

[2017-10-24 20:15] petrsvihlik commented on #18
@JanLenoch could you please give @beemtz some guidance? thx

[2017-10-24 20:15] petrsvihlik commented on #20
@JanLenoch could you please give @beemtz some guidance? thx

[2017-10-25 13:40] JanLenoch commented on #20
Hi Bee! Don't worry, you got it right this time. The "[this](https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/028f0e05-9f17-45be-962d-62bebe6b6f53.json)" that you've referred to is the desired outcome. It contains both language variants (although in that file, it cannot be seen at the first sight, just because a street address was translated into, well, that same street a

[2017-11-02 08:29] petrsvihlik commented on #20
Hi @beemtz,
we would like to send you some Kentico Cloud stickers as a thanks for taking part in Hacktoberfest. If you want them, please send us your postal address at developerscommunity@kentico.com.

[2017-11-23 13:54] JanLenoch opened #55 "Add a showcase of the content type snippets"
Kentico Cloud now supports so called [content type snippets](https://help.kenticocloud.com/define-content-structure/structure/using-content-type-snippets). These are sets of content elements that can be added to multiple content types to enrich their structure but still be managed from a single place.

The Delivery API responses contain both the elements originating from snippets alongside their o

[2017-12-01 15:06] JanLenoch commented on #20
Hi @beemtz ,

I was just wondering if there were any nuisances you've come across during the translation process. I mean, apart from the fact that Kentico Cloud Content Management API didn't support the rich text fields at the time of exporting the .json files for you (which we've discussed earlier). I suppose you've paused your efforts until we do the re-export for you (that also contains the ric

[2017-12-04 19:49] beemtz commented on #20
Hi Petr,

First of all, I went to the postal office to pick up the Kentico stickers
and goodies this weekend. Thank you so much!

Second, let me explain... I made a list of the links I was going to
translate, and when I was done with it, it didn't occur to me to check if
there were *new* links... but I know now!

Third, I don't have a local repo and my computer is pretty much
exploding-level full.

[2017-12-04 20:08] JanLenoch commented on #20
Hi Bee,

Don't feel compelled to explain things. We're glad you've come up with the idea of translating the sample site. We would like to thank you for your commitment! (And I'm glad you like the stickers.)

As for the way of working--no problem at all. Whatever makes your work easier and perhaps more fun, just let's do it that way.

All right, if you plan on crunching the rest of the texts, I'll

[2017-12-04 20:15] beemtz commented on #20
Hi, Jan!

Could I be assigned those issues then? Or a new link list? (Maybe an email
or google doc?) Or... is the old list updated?  I just to get a sense of
how to start again :)

Thank you!

B

On Mon, Dec 4, 2017 at 2:08 PM, Jan Lenoch <notifications@github.com> wrote:

--
*B*ee *M*artinez
developer
*front-end | wordpress | content*

*956 231 69 89 | @thebeeletter*

[2017-12-04 20:35] JanLenoch commented on #20
I was thinking of the [files](https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/) that have either the "Added exported content items for translation into Spanish. DC-306" or the "Added remaining files for translation. DC-306" description displayed with them. These files are in the original state, i.e. as they were exported from Kentico Cloud, before you've started the tran

[2017-12-04 20:43] beemtz commented on #20
It’s all clear now! This files <https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/> link and the clarifying notes about where translations are needed are what I was asking for.

Thanks!

B

[2017-12-10 06:06] beemtz commented on #20
Hi!

Got a chance tonight to go over the files
<https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/>
link
tonight... I hope I got everything...

These were already translated and / or didn't need any fixing:

https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/1aa6d33b-7f7c-413c-b7fa-d22bf3b411fd.json

https://github.com/Kentico/cloud-sample-app-react

[2017-12-12 11:33] JanLenoch commented on #55
The "Article" content type no longer needs the "Meta keywords" and "Meta description" elements.

![article meta keywords description deprecated](https://user-images.githubusercontent.com/17413329/33882418-575877e6-df38-11e7-9949-85a33da5f94e.png)

Remove the two corresponding properties of the Article model class.

[2017-12-15 14:27] Simply007 commented on #18
Started with upgrading react router to v4
https://github.com/Kentico/cloud-sample-app-react/tree/multilingual-support

[2018-01-05 06:38] petrsvihlik opened #63 "Update marked to 0.3.9"
The dependency `marked 0.3.6` is vulnerable, [update to 0.3.9 is recommended](https://github.com/Kentico/cloud-sample-app-react/blob/master/package-lock.json).

[2018-01-05 15:30] Simply007 commented on #18
Submitted a pull request with, let's say extendable support of multiple language with Spanish translation
https://github.com/Kentico/cloud-sample-app-react/pull/64

[2018-01-11 16:37] Simply007 opened #65 "Make a footer part of the site as a react element"
Currently footer is hardcoded in the html markup, so that it is not possible to localize its content.

We want to transform this part of the site to a react rendered part. Defined it as a component and use prepared infrastructure to translate its content.

![image](https://user-images.githubusercontent.com/9218736/34835751-0f836b9e-f6f6-11e7-892b-754820c319f6.png)

[2018-01-11 16:42] Simply007 opened #66 "Implement unsubscription for the stores"
Stores used for providing the data from Kentico cloud are using observable collections. Stores are subscribed to the collection changes, but the subscription is not canceled when the component using this store is unmounted.

Example in /Stores/Article.js
![image](https://user-images.githubusercontent.com/9218736/34835911-94eefd02-f6f6-11e7-9217-fc1eba206bf0.png)

We need to cancel the subscription

[2018-01-11 16:46] Simply007 commented on #66
takeUtil method could be used to handle the unsubscription.

[2018-01-14 02:41] sandiri-s commented on #65
Hi, I would like to contribute to this issue. I have worked on the few samples react applications in the past and this will be my first open source contribution if accepted.

Thanks.

[2018-01-14 09:25] Simply007 commented on #65
Hi,

that's great to hear @sandiri-s. I think this task is perfect as a first contribution.
Please go through the [Code of conduct](https://github.com/Kentico/Home/blob/master/CODE_OF_CONDUCT.md) and [Contributing](https://github.com/Kentico/Home/blob/master/CONTRIBUTING.md) guidelines to get familiar with our contribution process.

If you have any question, or you need to specify the issue requir

[2018-01-15 11:39] petrsvihlik commented on #65
Hi @sandiri-s , if you accept the collaborator invite I've just sent you, we'll be able to assign the issue directly to you.

[2018-01-16 15:32] prakharcipher commented on #65
I'd like to contribute to this issue and fix it right away. Please let me know.

[2018-01-16 15:34] petrsvihlik commented on #65
folks, whoever submits the PR first, wins :D so go for it!

[2018-01-18 13:18] #18 closed

[2018-01-30 08:35] RadoslavCap opened #69 "Fix or review potential security vulnerabilities in dependencies"
![screenshot from 2018-01-30 09-34-41](https://user-images.githubusercontent.com/6508800/35555870-dcb82240-05a0-11e8-9576-3d13dfca9670.png)

[2018-01-30 08:39] petrsvihlik commented on #69
Duplicate of #63

[2018-01-30 08:39] #69 closed

[2018-02-02 21:02] #63 closed

[2018-02-04 08:31] jmb521 commented on #65
Is this still open?

[2018-02-05 06:37] petrsvihlik commented on #65
there's a PR open for this - #67

[2018-02-05 15:21] Simply007 commented on #65
@jmb521 it is nearly the month, since the last action was made in the pull request.

 So if you are interested create your own pull request, let!s do it.

Take a look to the pull request comments:
https://github.com/Kentico/cloud-sample-app-react/pull/67

The work consist from:
- move html from index.html to the component (do not forget to change class attributes to className)
- change display typ

[2018-02-07 14:46] Simply007 commented on #65
Implemented in https://github.com/Kentico/cloud-sample-app-react/pull/70

[2018-02-07 14:46] #65 closed

[2018-02-08 08:51] JanLenoch commented on #20
**Update:** Instead of translating via .json files in https://github.com/Kentico/cloud-sample-app-react/blob/master/localization/ , @beemtz now does the translations/proofreadings in a dedicated content project in [Kentico Cloud](https://app.kenticocloud.com/).

The current state of the content project can be seen via a sample app at https://kentico-cloud-sample-app-translation-workspace.azurewebs

[2018-02-08 17:26] Simply007 commented on #55
Article fields removed from models in:
https://github.com/Kentico/cloud-sample-app-react/pull/7

[2018-02-26 15:12] MartinaFKentico opened #73 "Language specific URL slugs"
We have a new feature, language-specific URL slugs generated from Text elements. Consider if the React sample app needs to be updated.

See the task in JIRA: https://kentico.atlassian.net/browse/DEL-1635

[2018-02-27 19:23] ivanaliptakova commented on #73
**Content types with changed url slug configuration: changed items**
About us: 1 EN (changed to custom, value not changed), 1 ES (changed to custom, value changed)
Accessory: not changed
Article: EN not changed, ,ES items changed
Brewer: not changed items
Coffee: not changed items
Grinder: not changed items
Home: ES home changed to casa (custom mode)

[2018-03-05 07:56] petrsvihlik commented on #73
@Simply007 could you please either sync with with @ivanaliptakova to find out what's the preferred behavior or call a meeting for the three of us?

[2018-03-05 10:02] Simply007 commented on #73
I have consulted this with @oravecjakub and correct configuration is already on development environment, so it was my fault - i have checked live project.

[2018-03-05 14:25] Simply007 commented on #73
Final decision - agreed with @oravecjakub:
About us:
- en /en-us/about-us
- es  /es-es/acerca-de
Home:
- en /en-us/ /en-us/home
- es /es-es/ /es-es/inicio

Articles:
- en /en-us/articles/articleId -> Redirect -> en-us/articles/enArticleUrlSlug (two requests required - one for resolving urlSlug second for return value)
- es /es-es/articulos/articleId -> Redirect ->  /es-es/articulo/esArticleUrlSlug

[2018-03-08 14:28] Simply007 commented on #73
We dont need to change home, because it is registered under "/" route.

About us is implemented
Articles are not performing redirect, because it is no necessary.

We will have /en-us/articles/articleId (/es-es/articles/articleId) route and the request for ID with language specification return correct language data.

https://github.com/Kentico/cloud-sample-app-react/pull/74

[2018-03-23 08:59] #73 closed

[2018-03-23 13:16] Simply007 commented on #73
Added another pull request:
https://github.com/Kentico/cloud-sample-app-react/pull/76

[2018-05-22 10:24] petrsvihlik opened #81 "Add Preview Edit Links"
Kentico Kontent admin UI now supports navigating to specific content items via URLs in a certain format.

The goal of this task is to enrich the markup of this sample application with the links.

**Suggested approach:**
- observe the reference implementation in the .NET sample site
  - https://github.com/Kentico/kontent-sample-app-net/pull/65
  - https://github.com/Kentico/kontent-sample-app-net/p

[2018-05-25 10:23] Enngage opened #84 "Add ESLint & unify coding style"
There are some inconsistencies in code style, especially in the use of apostrophes vs double quotes.

Example:

[code]

Suggested approach:
- [ ] fix the ESLint configuration in this [project](https://github.com/Kentico/cloud-sample-app-react/blob/master/package.json)
  - there are some [standard configs](https://github.com/standard/eslint-config-standard-react) available on the web
  - ideally, c

[2018-05-25 10:27] Enngage opened #85 "Add indicator that data is loading"
App should show a loader when data are being retrieved from KC (nice UX)

[2018-06-12 17:57] sripaulgit commented on #66
@Simply007 I am interested in fixing this. Will review and get back.

[2018-06-12 19:38] petrsvihlik commented on #66
@sripaulgit That's great to hear. If you accept the invitation that I've just sent you, I'll be able to assign the issue to you.

[2018-06-13 06:46] sripaulgit commented on #66
@petrsvihlik I am trying to see where I can use the RxJs takeUntil to unsubscribe like @Simply007 has mentioned. But can I use it over query.getObservable().takeUntil(..)? It throws me an error that takeUntil is not a function over getObservable(). Can you help me what I am doing wrong? Thanks!

[2018-06-13 07:32] sripaulgit commented on #66
Also query.get() was how the code before kentico-cloud-delivery v4 upgrade. Now that its getObservable(), would it not complete automatically when the HTTP call returns successfully? In that case does unsubscribe still needed? Thanks!

[2018-06-13 08:13] Simply007 commented on #66
Hey @sripaulgit,

thanks for your interest. There are basically two ways I am familiar with how to implement unsubscription.
1. Store the subscription that is returned by subscribe() method and when the component is about to be unmounted [componentwillunmout](https://reactjs.org/docs/react-component.html) use unsubscribe() method. I went quickly through the code and methods that provide data (i.e.

[2018-06-13 08:22] Enngage commented on #66
Hey @sripaulgit, the unsubscription is needed for cases when the http request **does not complete**. For example when you quickly switch pages from one to another, use typehead search feature and similar. In these cases you no longer need the result of the request (because you are on different page already). If you had some code in the callback from http request (which is likely) it would be execu

[2018-06-13 17:11] sripaulgit commented on #66
Great. Thanks for all the references. I will have a solution implemented.

[2018-06-14 23:52] sripaulgit commented on #85
@Enngage although I am pretty basic in UX i'd like to take a stab at it. I will experiment with a loader in my local and see if you agree for that design.

[2018-07-27 12:48] petrsvihlik commented on #66
solved in #86

[2018-07-27 12:48] #66 closed

[2018-08-20 14:37] petrsvihlik commented on #85
Hi @sripaulgit , did you have a chance to look into this issue?

[2018-08-20 14:45] petrsvihlik commented on #20
This is being handled separately.

[2018-08-20 14:45] #20 closed

[2018-08-31 13:26] cbeard87 commented on #84
Since I recently set this up on the Vue sample app, making a similar config for React would be pretty quick and simple. If you’d like me to take this one as well, I’d be more than happy to work on it.

[2018-09-01 14:50] liamgold commented on #55
I've given this a go, used react-helmet for the handling of adding/removing and inheriting the metadata.

While testing I also noticed an issue with the brewer links were broken - so fixed those too.  Will do a PR now.

[2018-09-03 07:43] petrsvihlik commented on #84
Absolutely :) It'd be great if you could pick this one up as well, @cbeard87!

[2018-09-03 12:28] petrsvihlik commented on #55
implemented in #94

[2018-09-03 12:28] #55 closed

[2018-09-04 11:49] #84 closed

[2018-09-27 11:45] Simply007 opened #97 "Remove deprecated livecycle method - UNSAFE_componentWillReceiveProps"
### Motivation

In React v17 `UNSAFE_componentWillReceiveProps` method is deprecated and should be replaced by another lifecycle method.

### Proposed solution

Change calling of `UNSAFE_componentWillReceiveProps` method to some more appropriate - some tips point to https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops.
Try that one and make a testing of all occurrences.

#

[2018-10-01 09:32] vipulbhj commented on #97
Is this still open. Can I try this ?

[2018-10-01 10:30] vipulbhj commented on #97
My Stack Node and react. I also have worked with flask. Yes I would like to try something else. If you have anything for me.

[2018-10-01 11:47] Simply007 commented on #97
Hi @vipulbhj,

I have tried to find an issue for you.
We have a javascript mono repository containing a generator of javascript/typescript [DTO ](https://en.wikipedia.org/wiki/Data_transfer_object) models. It would be great to cover this package by tests.

Here is more information:
* https://github.com/Enngage/kentico-cloud-js/issues/66

Hope you will like it!

[2018-10-09 07:47] petrsvihlik opened #109 "Hardcoded assets in app"
### Motivation

Currently, it's unclear at first what content is hardcoded in the app and what is drawn from Kentico Cloud. For example, the Hero unit on the homepage is not drawn from Kentico Cloud. So it's possible to run the app and get confused when changing the Hero unit in Kentico Cloud doesn't change the content in the app.

### Proposed solution

- create an account in [Kentico Cloud](http

[2018-10-09 14:54] petrsvihlik commented on #109
@agoiabel  thanks for your interest. I have updated the readme. Let me know if you still have some questions. I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2018-10-12 01:01] leniquenoralez commented on #81
I can work on this.

[2018-10-13 05:46] saravanan10393 commented on #109
@agoiabel is this issue taken. If not i can help with it.

[2018-10-13 06:18] agoiabel commented on #109
Yes please, you can help with it, I really don't fully understand the task.

On Sat, Oct 13, 2018, 6:46 AM Saravanan Ramupillai <notifications@github.com>
wrote:

[2018-10-14 20:38] petrsvihlik commented on #109
@saravanan10393 the issue is free. i'll assign it to you if you accept the invite i sent you. :)

[2018-10-17 11:47] diegoalmesp commented on #109
Hello! is this taken? Seems like a great fit for my first open source contrib :)

[2018-10-17 12:14] petrsvihlik commented on #109
Hi @diegoalmesp , I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2018-10-23 11:21] petrpyszko opened #115 "Handle missing values in the preview"
### Motivation
The app crashes unexpectedly in the preview mode for articles without the image or products without the price. Preview Delivery API returns items in the draft step and some values can be missing (even required fields).

### Proposed solution
- The app should handle missing values and display some placeholder without data or with some explanation (e.g,. "Price TBA")
- check other pos

[2018-10-23 14:50] pavan-krishna-v commented on #115
@petrsvihlik  .. I see this is a new issue. Can i take it up. Or if you have already existing priority issues do let me know ! Thanks :)

[2018-10-24 08:32] petrsvihlik commented on #115
Hi @pavan-krishna-v, you can certainly pick it up! I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2018-10-24 11:50] #97 closed

[2018-10-24 11:58] Simply007 opened #117 "Remove deprecated (UNSAVE_) methods in ContactMap component"
### Motivation

As a followup for issue #97, there is one component left with lifecycle method with prefix UNSAVE. In the react v17, it is required to remove those methods, because they are about to be deleted.

### Proposed solution

Use different lifecycle methods as a substitution for the deprecated ones.
* https://reactjs.org/blog/2018/03/29/react-v-16-3.html

There are 2 occurrences of `UNSAF

[2018-10-24 13:30] pavan-krishna-v commented on #115
Done. Thanks !

[2018-10-26 06:28] Enngage opened #119 "Update kentico-cloud-delivery to 5.x.y"
We should update to latest `kentico-cloud-delivery` sdk version.

[2018-10-26 14:10] Simply007 commented on #117
Hello @andrew-anguiano. I've just sent you an invitation to the project. If you accept it, I'll be able to assign the issue to you to announce the others in the community this issue is already picked.

[2018-10-26 15:06] Simply007 commented on #119
Great - I have checked whether there is no breaking change in [v5 version](https://github.com/Enngage/kentico-cloud-js/releases) and haven't found anything.

[2018-10-26 15:08] #119 closed

[2018-10-26 15:30] #117 closed

[2018-10-29 13:16] pavan-krishna-v commented on #115
Hi @petrpyszko ,

    I understand that the issue is beyond just unavailablity of price. Also, i see that both coffee products are failing to load and both brewery pages are working. All the products have the price.
 The url which i checked is, http://localhost:3000/en-us/store/brewers.

  And i notice that all article pages are failing on clicking of preview.

 Do let me know if i got the issue r

[2018-11-01 14:50] petrpyszko commented on #115
Hi @pavan-krishna-v ,

yes, you are right, the App should be working even for the new (completely blank) items (brewers, articles ....). I am not sure which other fields can cause similar issues - but after creating blank items of each content type, you should be able to quickly identify other problematic areas :)

[2018-11-26 11:14] petrsvihlik commented on #81
unassigning due to inactivity

[2018-12-06 11:44] Simply007 commented on #115
Hi @pavan-krishna-v,

since this is a sample application, it is completely fine to have just a show case, how to implement missing values. So it will be OK to protect only articles or products and not to implement all the cases where we could face missing values.

Take a look to the solution in our [Vue sample app](https://github.com/Kentico/cloud-sample-app-vue/pull/19) for inspiration.

Hope it

[2019-01-16 07:35] Simply007 commented on #115
Hello @pavan-krishna-v ,

do you have any update on this issue?

[2019-01-27 01:45] Karl-EdwardFPJeanMehu commented on #115
If efforts to solve this issue has been abandoned, I'd like to take it. However, I don't see the issue for this page. Please provide information on how to reproduce error.

[2019-01-27 16:42] petrsvihlik commented on #115
Hi @Karl-EdwardFPJeanMehu , I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

You should be able to reproduce the issue if you turn on the preview functionality as described at https://github.com/Kentico/cloud-sample-app-react#previewing-content-from-your-project

You can generate a sample project at https://app.kenticocloud.com/sample-pr

[2019-01-28 07:19] Simply007 commented on #115
Hi @Karl-EdwardFPJeanMehu,

in the related task (basically the same but in Vue application),  [there is a description](https://github.com/Kentico/cloud-sample-app-vue/pull/19#issuecomment-435821693) how to reproduce the error step by step).

But instead of `npm run serve`, you would use `npm start` and connection to the client is described here:
* https://github.com/Kentico/cloud-sample-app-react#

[2019-01-28 11:04] Karl-EdwardFPJeanMehu commented on #115
Thanks @Simply007 ! I'll check it out

[2019-01-28 11:20] Simply007 commented on #115
If you have any question, feel free to ask!

If you want to assign this issue to you, just accept the invitation @petrsvihlik has sent you:
https://github.com/Kentico/cloud-sample-app-react/invitations

[2019-01-28 14:02] Karl-EdwardFPJeanMehu commented on #115
Invitation accepted. I was not able to reproduce the error. In fact I've got an other but somewhat similar error.

[2019-01-31 01:32] Karl-EdwardFPJeanMehu commented on #115
I had found the issue but just took some time to make sure. The metaData state variable is initially undefined. That is causing the typeError in the MetaData comp for all given prop values (ie metadataMetaTitle).

[2019-01-31 07:32] Simply007 commented on #115
You mean [this occurrence of metaData](https://github.com/Kentico/cloud-sample-app-react/blob/86cc1e5a500de8282ef69bf04b6cc4fd0247e735/src/Stores/Home.js#L15)?

[2019-02-02 14:30] Karl-EdwardFPJeanMehu commented on #115
Thanks!

[2019-02-04 07:53] Simply007 commented on #115
In a Vue.js there is [an image omited](https://github.com/Kentico/cloud-sample-app-vue/pull/19/files#diff-48bf359bb9d62bda17a5805ab100d8d1).

I would be more for the placeholder div with the text: `<contenttype> has not <element name>` with the same size as the image to not corupt the layout.

[2019-02-04 20:56] Karl-EdwardFPJeanMehu commented on #115
Ok, I see it.

[2019-02-09 04:39] Karl-EdwardFPJeanMehu commented on #115
Nearly complete. Please advise for meta OG images. These can only be replaced by a default image.

[2019-02-11 08:31] Simply007 commented on #115
I assume you mean the OG image that is passed to the [Metadata](https://github.com/Kentico/cloud-sample-app-react/blob/master/src/Components/Metadata.js#L23) component.
It is fine like it is implemented right now -  when you pass the `null` to the component then the meta tag is not rendered.

[2019-02-12 17:51] Karl-EdwardFPJeanMehu commented on #115
Yes, the implementation as you described is ok but I've tested it and the app throws an error when those SSO tags are left empty in the app.

[2019-02-14 12:20] Simply007 commented on #115
I will take a look at the #125 pull request and let you know!

[2019-02-14 13:05] Simply007 commented on #115
I have gone through the pull request and everything works fine.

According to the metadata (i.e. ogImage) I would recommend using the lodash for the value check:
[code]

But I am completely fine to accept the pull request without it.
So it depends on you whether you want to implement it!

Great jop @Karl-EdwardFPJeanMehu, thanks!

[2019-02-16 09:05] Karl-EdwardFPJeanMehu commented on #115
Thanks @Simply007 !

[2019-02-18 08:04] Simply007 opened #126 "Handle missing values in Preview for Metadata component"
### Motivation

As was described in #115, there is insufficient check for missing values for `Metadata` component values.

Great jop @Karl-EdwardFPJeanMehu, thanks!
### Proposed solution

According to the metadata (i.e. ogImage) I would recommend using the lodash for the value check:
[code]

[2019-02-18 08:05] #115 closed

[2019-02-18 16:26] Karl-EdwardFPJeanMehu commented on #126
I'm interested.

[2019-02-18 20:40] petrsvihlik commented on #126
Hi @Karl-EdwardFPJeanMehu , I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2019-05-05 18:22] sureife commented on #109
Hi @petrsvihlik . Is anyone working on this, can I contribute?

[2019-05-06 06:40] Simply007 commented on #109
Hey @sureife,

this issue is currently being fixed in #129.

There is a similar issue on the Vue sample application:
* https://github.com/Kentico/cloud-sample-app-vue/issues/17

I've just sent you an invitation to the Kentico GitHub Organization. If you accept it, I'll be able to assign the issue to you in case you want it.

[2019-05-06 06:55] #126 closed

[2019-05-29 11:45] makma opened #133 "Replace hardcoded sample project items count in SelectedProject.js"
### Motivation

In */src/Utilities/SelectedProject.js* there is a hardcoded SAMPLE_PROJECT_ITEM_COUNT constant which is used in the wizard.

This wizard checks if the Delivery API has already accessible all items in the user's Dancing Goat project and if the project is fully accessible. If the count of all items in the project is more or equals to items from constant then we consider the project t

[2019-05-30 00:52] web20opensource commented on #81
HI, is this project still alive ?

[2019-05-30 06:28] petrsvihlik commented on #81
Hey @web20opensource , absolutely. This sample project is being updated along with releases of new features in Kentico Cloud.

[2019-06-01 22:30] liamgold opened #134 "Extract API keys definition to .env"
### Motivation

@Simply007 originally logged an issue against the Vue sample project, which would probably be a good idea for the react sample project too.

See https://github.com/Kentico/cloud-sample-app-vue/issues/23#issue-382187178 for detailed information.

The general idea is to move the recommended configuration of sensitive key information from the `Client.js` file into git ignored `.env.*`

[2019-06-18 15:03] Simply007 opened #135 "Fix Glitch setup"
### Brief bug description

[Remix on Glitch button](https://github.com/Kentico/cloud-sample-app-react#get-creative) does not work.

It was introduced in https://github.com/Kentico/cloud-sample-app-react/commit/8b9823751f69e0d334608f41cdd204537eec244a

Current section

### Repro steps

1. Go to https://github.com/Kentico/cloud-sample-app-react#get-creative
1. Click on Remix on Glitch button
1. See

[2019-06-27 10:26] Simply007 commented on #109
Fixed in #129

[2019-06-27 10:26] #109 closed

[2019-07-15 19:02] Simply007 commented on #134
Being implemented in #136

[2019-07-15 19:16] Simply007 commented on #134
Fixed in #136

[2019-07-15 19:16] #134 closed

[2019-07-16 01:00] blakewenloe commented on #135
I have been playing with this for a bit. It imports successfully when i'm logged in, but throws an error when i'm logged out.

[code]

I'm assuming you have to be logged in for the app to create/write to a `/tmp/` directory?

[2019-07-16 21:23] blakewenloe commented on #135
Similar issue reported here: https://support.glitch.com/t/github-imports-silently-fail-when-not-logged-in/1013

[2019-07-19 21:42] blakewenloe commented on #135
Fixed with https://github.com/Kentico/cloud-sample-app-react/pull/139

[2019-08-06 13:46] #135 closed

[2019-08-20 13:49] sheidaee commented on #133
Hello,
I would work on this issue.

[2019-08-20 13:56] makma commented on #133
Hi @sheidaee, thank you for your interest! I've sent you an invitation to the organization. Once you accept it, I can assign you this issue. Welcome to  Kentico Open Source Community!

[2019-08-20 14:17] Simply007 commented on #133
@sheidaee - just sending a related issue https://github.com/Kentico/cloud-sample-app-vue/issues/26
* there is a hint how it was solved in VueJs by @liamgold.

[2019-08-23 07:40] #133 closed

[2019-09-24 12:46] Simply007 opened #143 "Update integration sample - Bynder"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:48] Simply007 opened #144 "Update integration sample - Shopify"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:49] Simply007 opened #145 "Update integration sample - GA experiments"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:50] Simply007 opened #146 "Update integration sample - Google analytics"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:52] Simply007 opened #147 "Update integration sample - Hubspot"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:52] Simply007 opened #148 "Update integration sample - Magento"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-09-24 12:53] Simply007 opened #149 "Update integration sample - Optimizely"
### Brief bug description

After the [rebranding from Kentico Cloud to Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent) there are still some samples that use old naming in branches named `samples/*`.

Until the end of October endpoint on domain `kenticocloud.com` stop working and there will be redirect performed:
* https://docs.kontent.ai/reference/api-changelog#a-api-

[2019-10-04 10:06] mgroovyank commented on #148
HI! @Simply007 Can I take up this issue?

[2019-10-07 05:51] Samuelly332 commented on #149
Hi I wanna work on this Issue if I can.

[2019-10-07 08:08] Simply007 commented on #148
@mgroovyank sure thing!
I have assigned you the issue so that it is clear you are working on that.

[2019-10-07 08:08] Simply007 commented on #149
@Samuelly332, sure thing!
I have assigned you the issue so that it is clear you are working on that.

[2019-10-07 09:10] mgroovyank commented on #148
@Simply007 Thanks! I'll do it.

[2019-10-07 09:15] Simply007 commented on #148
Cool, there is a tutorial on how to set up the integration with Magento:
* https://docs.kontent.ai/tutorials/develop-apps/integrate/integrating-with-e-commerce-magento

[2019-10-07 10:10] mgroovyank commented on #148
https://github.com/mgroovyank/kontent-sample-app-react/blob/6da3dc3b56bdae674831e3f10c13c170f69aa1af/src/App.js#L4-L6

[2019-10-07 11:19] mgroovyank commented on #148
@Simply007 what should be the domain in travis.yml file?

[2019-10-07 11:22] Simply007 commented on #148
`https://kontent-sample-app-react-magento.surge.sh` please - please include the https at the beginning - this will enforce https event for http

[2019-10-07 11:31] mgroovyank commented on #148
I should open the pull request to the samples/magento branch?

[2019-10-07 12:09] Simply007 commented on #148
Yes, it would be best to have a record of the fix in the pull request form.

And it is a valid contribution to [HecktoberFest](http://hacktoberfest.digitalocean.com) as well!

[2019-10-07 12:13] Simply007 commented on #148
May I ask you how did you find this issue?

I've just sent you an invitation to the Kentico GitHub organization. If you accept it, you'll be able to interact with other Kentico GitHub community members in out [Global collaborators dicsussions](https://github.com/orgs/Kentico/teams/global-collaborators) as well as getting the fresh info about Kentico Github activity.

[2019-10-07 12:14] uchemukolo commented on #146
Hello @Simply007 ,
kindly assign this task to me

[2019-10-07 12:29] Simply007 commented on #146
Hello @uchemukolo,

looking forward for the pull request!

[2019-10-08 05:28] mgroovyank commented on #148
@Simply007 I found this issue via the hacktoberfest website.

[2019-10-08 06:10] kaiquesilva27 commented on #147
HI! @Simply007 Can I take up this issue? 😄

[2019-10-08 09:36] Simply007 commented on #148
Awesome to hear that!

[2019-10-08 09:37] Simply007 commented on #147
It'S yours @kaiquesilva27!

take a look at a similar issue: https://github.com/Kentico/kontent-sample-app-react/pull/151 comments.

[2019-10-08 09:38] Simply007 commented on #147
Feel free to [join Kentico organization](https://kentico.github.io/). If you do so, you'll be able to interact with other Kentico GitHub community members in out [Global collaborators dicsussions](https://github.com/orgs/Kentico/teams/global-collaborators) as well as getting the fresh info about Kentico Github activity.

[2019-10-08 10:44] obulaworld commented on #144
Hi @Simply007 , I can work on this.

[2019-10-08 10:45] obulaworld commented on #145
Hi @Simply007, I can handle this.

[2019-10-08 10:46] obulaworld commented on #143
Hi @Simply007 , I can still work on this using #140

[2019-10-08 12:10] Simply007 commented on #144
It is your @obulaworld!

[2019-10-08 12:13] Simply007 commented on #145
Let's wait for #144 and give the opportunity to others to this one first

[2019-10-08 12:14] Simply007 commented on #143
Let's wait for #144 and give the opportunity to others to this one first

[2019-10-08 14:19] uchemukolo commented on #146
@Simply007 I just tried to push changes to `samples/ga branch` but i am getting the below error
`Permission Denied`
![Screenshot 2019-10-08 at 3 17 24 PM](https://user-images.githubusercontent.com/30410066/66403671-e249a700-e9de-11e9-9d91-4f5216b9321d.png)

[2019-10-08 19:44] uchemukolo commented on #145
Hi @Simply007 I can handle this if its available

[2019-10-09 07:57] Simply007 commented on #145
Let's finish #153 first @uchemukolo.

[2019-10-10 09:49] obulaworld commented on #143
Hi @Simply007, can I work on this now since #144 has now been merged?

[2019-10-10 10:48] Simply007 commented on #145
Since your pull-request was first done @obulaworld - the issue is yours! Thanks for your activity.

[2019-10-10 11:15] #144 closed

[2019-10-10 12:23] Simply007 commented on #143
@obulaworld  I have already assigned you #145 - I hope you OK with it. and assign this one to @dusekdan

[2019-12-10 09:24] #149 closed

[2020-07-13 15:24] I2obiN opened #164 "Image Sliders don't Work in the React Sample App"
Hey guys I am evaluating Kentico Kontent for an application but nearly everything I am trying is being overwritten by the out of the box CSS in the Sample App.

I have tried 3-4 different image slider packages and they all break out of the box.

I settled on https://swiperjs.com/ but it is breaking out of the box.

Should I be using the sample app as a starting point? I essentially want a blank sl

[2020-07-13 16:36] I2obiN commented on #164
Resolved. CSS was being overwritten in Admin.css of the sample project

[2020-07-13 16:36] #164 closed

[2021-03-24 12:00] #145 closed

[2021-06-03 17:16] PetrSvirak commented on #81
Please, note Kentico/kontent-sample-app-net#130

[2021-06-03 17:17] PetrSvirak opened #176 "Configuration admin page is not up-to-date with the latest design"
### Brief bug description

The Kontent design changed quite a lot since (Admin/Configuration.js)[https://github.com/Kentico/kontent-sample-app-react/blob/master/src/Pages/Admin/Configuration.js] was last updated. It should look completely different now. Check out https://github.com/Kentico/kontent-sample-app-net/pull/128 for an inspiration.

### Repro steps

1. Clone repository fresh (or clearn up

[2021-09-14 07:41] #143 closed

[2021-09-14 07:41] #147 closed, assigned to kaiquesilva27

[2021-09-14 07:41] #148 closed

[2021-09-14 07:42] #146 closed

[2021-09-30 06:46] Simply007 opened #180 "Update to latest React"
### Motivation

The current implementation uses React 16, but the actual React version is at least 17.

### Proposed solution

Upgrade to the newest React version and fix all the breaking changes.

### Additional context

React 16 vs 17 https://github.com/facebook/react/blob/main/CHANGELOG.md

[2021-09-30 06:53] Simply007 opened #181 "Store rewrite"
### Expected result

Use a more convenient way of fetching data using React than implementing `~/src/Stores` manually.

Use set's use state on the Page component levels.
* Example skeleton is being showcased in https://github.com/Kentico/kontent-sample-app-react/blob/new-stores/src/Pages/Test.js

[2021-10-02 13:07] dunklesToast commented on #180
I'll take a look at this!

[2021-10-02 13:12] dunklesToast commented on #180
We could also upgrade the npm package-lock file to the latest version. It seems to have been generated with npm 6 or earlier. https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json#handling-old-lockfiles

[2021-10-02 13:33] dunklesToast opened #183 "Upgrade to npm lockfile v2"
It would be great if the npm lockfile gets upgraded to version 2 which is used by npm v7 or later, since the new lockfile has [some great features and advantages](https://github.blog/2021-02-02-npm-7-is-now-generally-available/) in comparison to the lockfile v1. As far as I know, this would drop support for npm v6.

If you are fine with upgrading to the new lockfile, let me know. I'll create a PR

[2021-10-02 23:30] Rezanop commented on #176
Hello,

I'm new to open source, i''d to take this one as part of my hacktoberfest participation.

[2021-10-13 04:53] Simply007 commented on #180
Alright - let's split it. More PRs for you 👍🏼 I am gonna merge the first one and looking forward to the next one, after that, I will close this issue.

[2022-01-24 09:29] Simply007 commented on #176
Hi!

This issue has gone quiet. 👻
It’s been a while since the last update here, so we are about to unassign the issue.

If we missed anything, please reply here.

Thanks for being a part of the Kontent community!

[2022-03-02 16:48] #176 closed

[2022-03-14 10:32] Simply007 opened #198 "google-maps-react is not supported in React 17"
### Brief bug description

google-maps-react is not supported in React 17

### Repro steps

1. Remove node_modules and package-lock.json
2. Run `npm i`

Error:

[code]

### Expected behavior

No error - try to find an alternative package for the Google Maps component.

[2022-03-15 07:56] Simply007 opened #199 "[Spike] Prepare multilingual setup"
### Expected result

* Create a skeleton of [create-react-app](https://create-react-app.dev/) in typescript `npx create-react-app my-app --template typescript` (https://create-react-app.dev/docs/adding-a-router/)
* [Add a router](https://create-react-app.dev/docs/adding-a-router)
* Try to set up and describe a simple showcase on how to handle multilingual similarly as it is for the current project

[2022-03-17 14:50] Chleba commented on #199
### Some points of interest about a multi-languages solution:

- hold language option in cookie or LocalStorage
- switch language with URL (anchor or part of URL (/{lang}/page)
- check default URL when language is not part of URL in 404-page view with the script that will get default language from LocalStorage or cookies then redirect to the right page
- static text will be stored in JSON files in

[2022-03-29 09:51] #181 closed

[2022-04-05 11:52] IvanKiral commented on #199
### Spike Result
The are created two versions for the spike project which uses two different libraries:
react-intl: https://github.com/IvanKiral/routing-react
react-i18n: https://github.com/IvanKiral/routing-react/tree/react-i18-next

We have decided to go with react-intl due to used workaround in react-i18n in multilangue routing.
The json files will have the flat format - means no nested objects

[2022-04-14 10:17] IvanKiral commented on #198
We decided to remove the map from the react app.
There is commit of not fully completed react component for MapContainer https://github.com/Kentico/kontent-sample-app-react/commit/43df9ad044ee35e4d27aa4929df2f4d5361502a3

It was deleted in the following commit

[2022-04-26 13:32] Simply007 commented on #199
Looks good!

We need to think about a full copy of the license in #206

[2022-04-26 13:32] #199 closed

[2022-05-23 09:57] Simply007 opened #207 "Missing typescript in dev dependencies"
### Brief bug description

This error can occur when starting
[code]

### Repro steps

1. Clone repo
2. Run `npmi`
3. Run `npm start
4. See error (if you don't have `typescript` installed globaly)

### Expected behavior

No error

### Additional context

Solution is to add `typescript` in dev dependencies.

[2022-10-24 07:50] #207 closed